* {
  box-sizing: border-box;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-link {
  color: black !important;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  text-align: center;
  transition: background-color 0.3s;
}

.nav-link:hover {
  text-decoration: underline !important;
  color: black !important;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px; /* check which one you and others prefer */
  position: relative;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; /* so it is behind the popup */
}

body,
html {
  height: 100%;
  background-image: url("../images/background.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

main {
  padding-top: 25px;
  text-align: center;
}

#container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}
